<div class="settings-content scrollable">
  <h4>Impostazioni Audio</h4>

  <label>Effetti Sonori (SFX)</label>
  <input
    type="range"
    min="0"
    max="1"
    step="0.01"
    [value]="volumes.sfx"
    (input)="setVolume('sfx', $event)"
  />

  <label>Musica</label>
  <input
    type="range"
    min="0"
    max="1"
    step="0.01"
    [value]="volumes.music"
    (input)="setVolume('music', $event)"
  />

  <label>Voci</label>
  <input
    type="range"
    min="0"
    max="1"
    step="0.01"
    [value]="volumes.voice"
    (input)="setVolume('voice', $event)"
  />

  <button (click)="resetVolumes()">Ripristina volume predefinito</button>
  <button (click)="testAudio()">TestFx</button>
</div>
