<!-- src/app/components/card/card.component.html -->
<div
  appDoubleTap
  *ngIf="cutoutStyles; else loading"
  [ngClass]="card.canAttack ? 'ability-can-attack' : ''"
  (doubleTap)="onDoubleTap()"
  class="card"
>
  <div
    *ngIf="frameBorderStyles"
    [ngStyle]="frameBorderStyles"
    [ngClass]="card | cardEffectClass"
    cardEffectClass
  ></div>
  <!-- mostro la cutout wrapper solo se cutoutStyles è già calcolato -->
  <div class="cutout" *ngIf="cutoutStyles" [ngStyle]="cutoutStyles">
    <!-- <img
      class="content"
      [src]="contentSrc"
      [alt]="card.name"
      alt="Artwork"
      loading="lazy"
      (error)="onImgError($event)"
    /> -->
    <div class="image-wrapper">
      <img [ngSrc]="contentSrc" fill [alt]="card.name" class="fill-img" />
    </div>
  </div>
  <!-- Cornice vera in primo piano -->
  <img
    #frameRef
    class="frame"
    [src]="frameSrc"
    [alt]="card.name"
    alt="Cornice"
    loading="lazy"
    (error)="onImgError($event)"
  />
  <div
    class="title"
    *ngIf="titleStyles && isVisibileText"
    [ngStyle]="titleStyles"
  >
    {{ card.name }}
  </div>
  <div class="icons" *ngIf="iconStyles" [ngStyle]="iconStyles">
    <ng-container *ngFor="let icon of icons">
      <img [src]="icon.src" [alt]="icon.alt" (error)="onImgError($event)" />
      <span *ngIf="icon.value | lte">0</span> <span>{{ icon.value }}</span>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <div class="card-loading">
    <div class="spinner"></div>
  </div>
</ng-template>
