<!-- src/app/components/card/card.component.html -->
<div *ngIf="cutoutStyles" class="card">
  <!-- mostro la cutout wrapper solo se cutoutStyles è già calcolato -->
  <div class="cutout" *ngIf="cutoutStyles" [ngStyle]="cutoutStyles">
    <img
      class="content"
      [src]="contentSrc"
      alt="Artwork"
      loading="lazy"
      (error)="onImgError($event)"
    />
  </div>

  <!-- Cornice vera in primo piano -->
  <img
    class="frame"
    [src]="frameSrc"
    alt="Cornice"
    loading="lazy"
    (error)="onImgError($event)"
  />
  <div
    class="title"
    *ngIf="titleStyles && isVisibileText"
    [ngStyle]="titleStyles"
  >
    {{ card.name }}
  </div>
  <div class="icons" *ngIf="iconStyles" [ngStyle]="iconStyles">
    <ng-container *ngFor="let icon of icons">
      <img [src]="icon.src" [alt]="icon.alt" (error)="onImgError($event)" />
      <span *ngIf="icon.value | lte">-</span> <span>{{ icon.value }}</span>
    </ng-container>
  </div>
</div>
