<div
  style="height: 100vh"
  (mousemove)="updateArrow($event)"
  (mouseup)="endArrow($event)"
  (touchmove)="updateArrow($event)"
  (touchend)="endArrow($event)"
>
  <!-- AVVERSARIO -->
  <section
    id="block-enemy"
    [style.height.vh]="displaySettings().sizes.enemy"
    class="hand"
  >
    <div style="display: flex">
      <div style="width: 30%">
        <h4>Avversario: {{ opponentId }}</h4>
        <p>Carta in mano: {{ gameState.hands[opponentId] }} carte</p>
        <p>Vita: {{ gameState.health[opponentId] }}</p>
        <p *ngIf="gameState.crystals && gameState.maxCrystals">
          Cristalli: {{ gameState.crystals[opponentId] }} / max
          {{ gameState.maxCrystals[opponentId] }}
        </p>
      </div>

      <div style="width: 100%">
        <div class="cards-enemy">
          @if(gameState.hands[opponentId]&&gameState.hands[opponentId]>0){
          <img
            *ngFor="let c of 0 | range : gameState.hands[opponentId]"
            class="singleCardEnemy"
            [src]="baseFrameBack + frameSelected.img"
          />
          }
        </div>
      </div>
    </div>
  </section>

  <div cdkDropListGroup>
    <!-- INFO TURNO + BOARD -->
    <div id="block-board" [style.height.vh]="displaySettings().sizes.board">
      <div
        style="height: 100%; display: flex"
        [style.height.vh]="displaySettings().sizes.board"
      >
        <section style="width: 20%" class="turn-info">
          <h3>Turno Di: {{ currentPlayerName }}</h3>
          <!-- <p *ngIf="isMyTurn">💎 Cristalli: {{ playerCrystals }}</p> -->
          <!-- Turno {{ gameState.currentTurnIndex }} -->
          <p *ngIf="!isMyTurn">⏳ Attendi...</p>
          <button
            mat-raised-button
            color="warn"
            (click)="endTurn()"
            [disabled]="!isMyTurn"
          >
            Passa Turno
          </button>
          <button
            mat-raised-button
            color="warn"
            (click)="leaveGame()"
            [disabled]="!isMyTurn"
          >
            concedi
          </button>
        </section>

        <section style="width: 100%" class="board">
          <h4>Plancia</h4>

          <!-- BOARD AVVERSARIO -->
          <div
            class="cards-board"
            [style.height.vh]="displaySettings().sizes.board / 2"
          >
            <div *ngFor="let c of opponentBoard">
              <div *ngIf="c.name" class="singleCardBoard">
                <app-card
                  [isVisibileText]="false"
                  [frameTitle]="frameSelected.img"
                  [card]="c"
                ></app-card>
              </div>
            </div>
          </div>

          <br />

          <!-- TUA BOARD -->
          <div
            class="cards-board"
            [style.height.vh]="displaySettings().sizes.board / 2"
            cdkDropList
            id="boardDropList"
            [cdkDropListData]="board"
            [cdkDropListConnectedTo]="['handDropList']"
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListSortingDisabled]="true"
          >
            <div
              *ngFor="let c of board; let i = index"
              class="singleCardBoard"
              [attr.data-index]="i"
              (mousedown)="startArrow($event, c)"
              (touchstart)="startArrow($event, c)"
            >
              <app-card
                [isVisibileText]="false"
                [frameTitle]="frameSelected.img"
                [card]="c"
              ></app-card>
              <!-- <button
              mat-mini-button
              color="warn"
               appDoubleTap (click)="attack(c, { type: 'HP', playerId: opponentId })"
              [disabled]="!isMyTurn || c.justPlayed"
            >
              Attacca Team
            </button> -->
            </div>
          </div>
        </section>
      </div>
    </div>

    <!-- MANO GIOCATORE -->
    <section
      id="block-player"
      style="display: flex"
      [style.height.vh]="displaySettings().sizes.player"
      class="hand"
    >
      <div style="width: 10%">
        <h4>Mano ({{ cardsInHand.length }})</h4>
        <p>Vita: {{ gameState.health[username] }}</p>
        <p *ngIf="gameState.crystals && gameState.maxCrystals">
          Cristalli: {{ gameState.crystals[username] }} / max
          {{ gameState.maxCrystals[username] }}
        </p>
      </div>
      <div
        cdkDropList
        id="handDropList"
        [cdkDropListData]="cardsInHand"
        [cdkDropListConnectedTo]="['boardDropList']"
        [cdkDropListSortingDisabled]="false"
        (cdkDropListDropped)="onDrop($event)"
        class="cards-hand"
      >
        <div *ngFor="let c of cardsInHand" class="singleCard" cdkDrag>
          <div class="drag-surface">
            <app-card [frameTitle]="frameSelected.img" [card]="c"></app-card>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- animazioni -------------    -->
  <!-- animazioni -->
  <div *ngIf="showCardAnim && drawnCard" class="card-drawn-overlay singleCard">
    <app-card
      [card]="drawnCard"
      [frameTitle]="frameSelected.img"
      [isVisibileText]="true"
    ></app-card>
  </div>

  <!-- INSERIMENTO SVG PER LA FRECCIA -->
  <svg class="arrow-layer" *ngIf="arrow">
    <defs>
      <marker
        id="arrowhead"
        markerWidth="10"
        markerHeight="7"
        refX="0"
        refY="3.5"
        orient="auto"
      >
        <polygon points="0 0, 10 3.5, 0 7" fill="red" />
      </marker>
    </defs>
    <line
      [attr.x1]="arrow.start.x"
      [attr.y1]="arrow.start.y"
      [attr.x2]="arrow.end.x"
      [attr.y2]="arrow.end.y"
      stroke="red"
      stroke-width="3"
      marker-end="url(#arrowhead)"
    />
  </svg>

  <pre>{{ gameState | json }}</pre>
</div>
