@if(!isLoading){
<!-- <div
  style="height: 100vh"
  (mousemove)="updateArrow($event); updatePreviewIndex($event)"
  (mouseup)="endArrow($event); clearPreviewIndex()"
  (touchmove)="updateArrow($event); updatePreviewIndex($event)"
  (touchend)="endArrow($event); clearPreviewIndex()"
  (mouseleave)="clearPreviewIndex()"
> -->
<div
  style="height: 100vh"
  (mousemove)="onMouseMove($event)"
  (click)="onBackgroundClick()"
  (mouseleave)="clearPreviewIndex()"
>
  <!-- AVVERSARIO -->
  <section
    id="block-enemy"
    [style.height.vh]="displaySettings().sizes.enemy"
    class="hand"
    (mouseenter)="onHoverFaceTarget()"
    (mouseleave)="onLeaveFaceTarget()"
    [attr.data-card-id]="'FACE:' + opponentId"
    (click)="confirmArrowToFace($event)"
    #enemyHand
  >
    <div style="display: flex">
      <div class="cards-enemy" style="display: flex">
        @if(gameState.hands[opponentId]&&gameState.hands[opponentId]>0){

        <img
          [style.width.px]="measureEnemyRatio()?.wi"
          [style.height.px]="measureEnemyRatio()?.hi"
          *ngFor="let c of 0 | range : gameState.hands[opponentId]"
          class="singleCardEnemy"
          [src]="baseFrameBack + frameSelectedOpponent"
        />
        }
      </div>
      <!-- HERO  -->
      <div>
        <div class="styled-menu">
          <!-- Avatar avversario -->
          <div class="avatar-container">
            <img
              class="avatar"
              [src]="'assets/avatar/1.png'"
              alt="Avatar avversario"
              title="Avversario"
            />
          </div>

          <!-- Griglia 2x2 -->
          <div class="grid">
            <div class="item" title="Carte nella mano avversaria">
              <i class="fa-solid fa-hand"></i>
              <span>{{ gameState.hands[opponentId] }} carte</span>
            </div>
            <div class="item" title="Punti vita dell'avversario">
              <i class="fa-solid fa-heart"></i>
              <span>{{ gameState.health[opponentId] }}</span>
            </div>
            <div
              class="item"
              *ngIf="gameState.crystals && gameState.maxCrystals"
              title="Cristalli"
            >
              <i class="fa-solid fa-gem"></i>
              <span
                >{{ gameState.crystals[opponentId] }} /
                {{ gameState.maxCrystals[opponentId] }}</span
              >
            </div>
            <div class="item" title="Barriera">
              <i class="fa-solid fa-shield-halved"></i>
              <span>{{ gameState.barrier[opponentId] }}</span>
            </div>
          </div>
        </div>
      </div>

      <!-- fine hero -->
    </div>
  </section>
  <div *ngIf="targetInstruction" class="target-instruction">
    {{ targetInstruction }}
    <button (click)="targetClose()">ANNULLA</button>
  </div>
  <div cdkDropListGroup>
    <!-- INFO TURNO + BOARD -->
    <div id="block-board">
      <div
        style="height: 100%; display: flex"
        [style.height.vh]="displaySettings().sizes.board"
      >
        <section style="width: 20%" class="turn-info">
          <div class="dropdown ghost">
            <input type="checkbox" id="action-toggle" hidden />
            <label for="action-toggle" class="dropdown-trigger"
              >Azioni <span class="dropdown-icon">▼</span></label
            >
            <div class="dropdown-menu">
              <div class="dropdown-item">
                <button class="button-b-size" (click)="leaveGame()">
                  concedi
                </button>
              </div>
              <div class="dropdown-item">
                <div class="game-history-panel" *ngIf="gameHistory?.length">
                  <h3>🧾 Storico</h3>
                  <div
                    class="history-entry"
                    *ngFor="let entry of gameHistory; let i = index"
                    [@fadeSlideIn]
                  >
                    <span class="type-icon">{{ getIcon(entry.type) }}</span>
                    <div class="entry-content">
                      <p>
                        <strong>{{ formatEntry(entry) }}</strong>
                      </p>
                      <small>{{ entry.timestamp | date : "shortTime" }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="turn-center">
            <h3>Turno Di: {{ currentPlayerName }}</h3>
            <p *ngIf="!isMyTurn">⏳ Attendi...</p>
            <button
              class="button-b-size"
              (click)="endTurn()"
              [disabled]="!isMyTurn"
            >
              Passa Turno
            </button>
          </div>
        </section>

        <section style="width: 100%" class="board">
          <!-- <h4>Plancia</h4> -->
          <div class="board-background">
            <img [src]="backgroundUrl" class="background-img" />
          </div>

          <!-- BOARD AVVERSARIO -->
          <div
            class="cards-board board-min"
            [style.height.vh]="displaySettings().sizes.board / 2.5"
          >
            <div *ngFor="let c of opponentBoard; trackBy: trackByCardId">
              <div
                *ngIf="c.name"
                (mouseenter)="onHoverTarget(c)"
                (mouseleave)="onLeaveTarget(c)"
                (click)="confirmArrow(c, $event)"
                class="singleCardBoard"
                [style.width.px]="measureBoardRatio()?.wi"
              >
                <app-card
                  [attr.data-card-id]="c.id"
                  [isVisibileText]="false"
                  [frameTitle]="frameSelectedOpponent"
                  [card]="c"
                  [currentEffect]="c.currentEffect"
                ></app-card>
              </div>
            </div>
          </div>

          <br />

          <!-- TUA BOARD -->
          <div
            class="cards-board board-min"
            [style.height.vh]="displaySettings().sizes.board / 2.5"
            cdkDropList
            id="boardDropList"
            [cdkDropListData]="board"
            [cdkDropListConnectedTo]="['handDropList']"
            (cdkDropListDropped)="onDrop($event)"
            [cdkDropListSortingDisabled]="true"
            *ngIf="loading"
            #myboardHeight
          >
            <div
              #myboard
              *ngFor="let c of board; let i = index; trackBy: trackByCardId"
            >
              <div
                *ngIf="isDraggingFromHand && previewIndex === i"
                class="singleCardBoard placeholder-slot"
              ></div>

              <div
                class="singleCardBoard"
                [attr.data-index]="i"
                [attr.data-card-id]="c.id"
                (click)="startArrow($event, c)"
                [style.width.px]="measureBoardRatio()?.wi"
                [ngClass]="c.canAttack ? 'ability-can-attack' : ''"
              >
                <!-- (touchstart)="startArrow($event, c)" -->
                <app-card
                  [isVisibileText]="false"
                  [frameTitle]="frameSelected"
                  [card]="c"
                  [currentEffect]="c.currentEffect"
                ></app-card>
              </div>
            </div>

            <!-- Aggiungi anche questo DOPO il ng-container -->
            <div
              *ngIf="isDraggingFromHand && previewIndex === board.length"
              class="singleCardBoard placeholder-slot"
              [style.width.px]="measureBoardRatio()?.wi"
            ></div>

            <!-- <div
              *ngFor="let c of board; let i = index"
              class="singleCardBoard"
              [attr.data-index]="i"
              [attr.data-card-id]="c.id"
              (mousedown)="startArrow($event, c)"
              (touchstart)="startArrow($event, c)"
            >
              <app-card
                [isVisibileText]="false"
                [frameTitle]="frameSelected"
                [card]="c"
              ></app-card>
            </div> -->
          </div>
        </section>
      </div>
    </div>

    <!-- MANO GIOCATORE -->
    <section
      id="block-player"
      [attr.data-card-id]="'FACE:' + userId"
      style="display: flex"
      [style.height.vh]="displaySettings().sizes.player"
      #myCard
      class="hand"
    >
      <div style="width: 20%; height: 100%">
        <div style="height: 100%">
          <div class="styled-menu styled-menu-resp" style="height: 100%">
            <!-- Avatar avversario -->
            <div class="avatar-container">
              <img
                class="avatar"
                [src]="'assets/avatar/hero.png'"
                alt="Avatar avversario"
                title="Avversario"
              />
            </div>

            <!-- Griglia 2x2 -->
            <div class="grid">
              <div class="item" title="Carte nella mano avversaria">
                <i class="fa-solid fa-hand"></i>
                <span>{{ cardsInHand.length }} carte</span>
              </div>
              <div class="item" title="Punti vita dell'avversario">
                <i class="fa-solid fa-heart"></i>
                <span>{{ gameState.health[userId] }}</span>
              </div>
              <div
                class="item"
                *ngIf="gameState.crystals && gameState.maxCrystals"
                title="Cristalli"
              >
                <i class="fa-solid fa-gem"></i>
                <span
                  >{{ gameState.crystals[userId] }} /
                  {{ gameState.maxCrystals[userId] }}</span
                >
              </div>
              <div class="item" title="Barriera">
                <i class="fa-solid fa-shield-halved"></i>
                <span>{{ gameState.barrier[userId] }}</span>
              </div>
            </div>
          </div>
        </div>
        <!-- <h4>Mano ({{ cardsInHand.length }})</h4>
        <p>Vita: {{ gameState.health[userId] }}</p>
        <p *ngIf="gameState.crystals && gameState.maxCrystals">
          Cristalli: {{ gameState.crystals[userId] }} / max
          {{ gameState.maxCrystals[userId] }}
        </p>
        <p>barrier:{{ gameState.barrier[userId] }}</p> -->
      </div>
      <div
        cdkDropList
        id="handDropList"
        [cdkDropListData]="cardsInHand"
        [cdkDropListConnectedTo]="['boardDropList']"
        [cdkDropListSortingDisabled]="false"
        (cdkDropListDropped)="onDrop($event)"
        class="cards-hand"
        #spaceHand
      >
        <div
          *ngFor="let c of cardsInHand"
          (cdkDragStarted)="isDraggingFromHand = true"
          (cdkDragEnded)="isDraggingFromHand = false; clearPreviewIndex()"
          class="singleCard"
          [style.width.px]="measureHandRatio()?.wi"
          cdkDrag
        >
          <!-- [style.height.px]="measureHeight()" -->
          <div class="drag-surface">
            <app-card [frameTitle]="frameSelected" [card]="c"></app-card>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- animazioni -->
  <!-- <div *ngIf="showCardAnim && drawnCard" class="card-drawn-overlay singleCard">
    <app-card
      [card]="drawnCard"
      [frameTitle]="frameSelected"
      [isVisibileText]="true"
    ></app-card>
  </div> -->
  <ng-template cdkPortalOutlet></ng-template>

  <!-- INSERIMENTO SVG PER LA FRECCIA -->
  <div
    *ngIf="arrowStartCard && hoveredTargetCardId && arrowPreviewPos"
    class="target-x-on-arrow"
    [style.left.px]="arrowPreviewPos.x"
    [style.top.px]="arrowPreviewPos.y"
  >
    ✖
  </div>
  <svg class="arrow-layer" *ngIf="arrowStartPos && arrowPreviewPos">
    <defs>
      <marker
        id="arrowhead"
        markerWidth="10"
        markerHeight="7"
        refX="0"
        refY="3.5"
        orient="auto"
      >
        <polygon points="0 0, 10 3.5, 0 7" fill="red"></polygon>
      </marker>
    </defs>
    <line
      [attr.x1]="arrowStartPos.x"
      [attr.y1]="arrowStartPos.y"
      [attr.x2]="arrowPreviewPos.x"
      [attr.y2]="arrowPreviewPos.y"
      stroke="red"
      stroke-width="3"
      marker-end="url(#arrowhead)"
    ></line>
  </svg>
</div>
<pre>{{ gameState | json }}</pre>
} @else{ Vai alla dashboard }
