// @use '@angular/material' as mat;
// $blue-base: mat.$blue;
// @include mat.toolbar-overrides((
//   container-background-color: $blue-base,
//   container-text-color: red,
// ));

.spacer {
  flex: 1 1 auto;
}
button{
    margin-top: 10px;
  padding: 10px 18px;
    font-size: 1rem;
}
// Customize the entire app. Change :root to your selector if you want to scope the styles.
