<div class="button-group">
  <button mat-raised-button color="primary" appDoubleTap (click)="goBack()">
    torna indietro
  </button>
  <button mat-raised-button color="primary" appDoubleTap (click)="refresh()">
    refresh()
  </button>
  <mat-form-field>
    <mat-label>scegli set</mat-label>
    <mat-select (selectionChange)="onFrameChange($event)">
      @for (food of allFrame; track food) {
      <mat-option [value]="food">{{ food.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="accent" appDoubleTap (click)="salva()">
    salva
  </button>
</div>
<div class="deck-builder">
  <div class="deck">
    <h3>Il tuo Deck ({{ deck.length }}/30)</h3>
    <ul>
      <li *ngFor="let card of deck; let i = index">
        {{ card.name }}
        <button appDoubleTap (click)="removeFromDeck(i)">Rimuovi</button>
      </li>
    </ul>
  </div>

  <div class="card-pool">
    <h3>Tutte le Carte</h3>
    <div class="cards">
      <!-- <div class="card" *ngFor="let card of paginatedCards"> -->

      <app-card
        appDoubleTap
        (singleTap)="addToDeck(n)"
        *ngFor="let n of paginatedCards; let i = index"
        [frameTitle]="frameSelected.img"
        [card]="n"
      >
      </app-card>
    </div>
  </div>
  <!-- </div> -->
</div>
<div class="pagination">
  <button
    appDoubleTap
    (click)="currentPage = currentPage - 1"
    [disabled]="currentPage === 1"
  >
    « Prev
  </button>

  <span>Pagina {{ currentPage }} di {{ totalPages }}</span>

  <button
    appDoubleTap
    (click)="currentPage = currentPage + 1"
    [disabled]="currentPage === totalPages"
  >
    Next »
  </button>
</div>
<br />
